body {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.35em;
}

.header:after {
    content: '';
    height: 100vh;
    width: 100%;
    background: #fff url("../img/bg-header.jpg") no-repeat center / cover;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.header:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.header:hover .logo {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.logo {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.logo__img {
    height: 180px;
    width: 180px;
}

.logo__title {
    font-size: 2.2rem;
    line-height: 1.35em;
    margin-top: 1rem;
}

.logo__text {
    line-height: 1.7;
    margin-top: 1rem;
}

.container {
    max-width: 980px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container__item {
    width: calc(1/3*100% - (1 - 1/3)*20px);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container__item .fab {
    font-size: 3em;
}

.flex-container__item h3 {
    margin: 1.1em 0 0.2em;
    font-size: 1.17em;
    font-weight: bold;
}

.flex-container__item p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-flex__item {
    width: calc(1/2*100% - (1 - 1/2)*20px);
}

.about-flex__item:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-flex__item h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    font-weight: bold;
}

.about-flex__item p {
    font: inherit;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

footer {
    padding: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    text-align: center;
}

/* mobile size */
@media (max-width: 767px) {
    .logo {
        width: auto;
    }

    .logo__img {
        height: 140px;
        width: 140px;
    }

    .logo__text {
        display: none;
    }
}

@media (max-width: 560px) {

    .flex-container,
    .about-flex {
        flex-direction: column;
        padding: 0;
    }

    .about-flex__item {
        width: 100%;
    }

    .flex-container__item {
        width: 100%;
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 0rem;
    }

    .about-flex__item {
        margin: 0 0 20px;
    }

    .flex-container__item {
        margin: 0 0 20px;
    }
}

@media (max-height: 550px) {

    .logo__title,
    .logo__text {
        display: none;
    }

    .logo {
        height: auto;
    }
}